@import "../../scss/shared";

.form-error {
  color: #959595;
  font-size: 12px;
  height: 1.25rem;

  &--invalid {
    color: $clr-red-primary;
    span {
      border-color: $clr-red-primary;
    }
  }
}
