.trips-list {
  display: flex;
  align-items: start;
  gap: 2rem;
  padding-block: 1rem;

  &__list {
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__scroll-button {
    font-size: 2rem;
    padding: 2rem 1rem;
    align-self: center;
    background-color: #666;
    opacity: 0.5;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }

  &__add-button {
    width: 12.5rem;
    height: 12.5rem;
    background-color: #666;

    flex-shrink: 0;
  }
}
