.trip-card {
  &__image {
    width: 12.5rem;
    height: 12.5rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    padding: 8px;
  }
}

.trip-card.active {
  border: 1px solid #408cba;
}
